<div class="bm-container">
    <div class="bm-container-header">
        <h2>It's time to Bookmark!</h2>
        <p>Add something meaningful</p>    
    </div>

    <div class="bm-container-info">
        <input class="tab-title" type="text" value="{{tabTitle}}" >
        <input class="tab-tags" type="text" placeholder="How do you want to fint it?" >
        <input class="tab-url" type="text" value="{{tabUrl}}" >
        <button class="bm_container__submit">Bookmark It!</button>
    </div> 
</div>
