* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    font-family: "OpenSans", sans-serif;
    font-size: 1.5rem;
    box-sizing: border-box;
    font-weight: 400;
    color: #333333;
}


html{
    font-size: 62.5%;

}
.main-container{
    width: 50rem;
    height: 45rem;
    padding: 2rem 1rem;
    background-color: #f7f7f7;
    text-align: center;
}

.footer-main{
    background-color:#0F7EE4 ;
    font-size: 1.3rem;
    color: #f7f7f7;
    text-align: center;
}

.status-container{
    text-align: left;
    margin-bottom: 3rem;
}

.form-container{
    background-color: #f7f7f7;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4rem;
    width: 100%;
    height: 100%;
}

.image-container{
    position: relative;
}

.login-form-image{
    box-shadow: 0 0 3rem rgba(49, 49, 49, .2);
    border-radius: 100px;
    height: 14rem;
}


.signup-form-image{
    background: transparent;
    height: 14rem;
}

.profile-image{
}
.username {
    display: inline-block;
}
.select-avatar-container{
    position: absolute;
    width: 20rem;
    height: 10rem;
    bottom: -5%;
    right: 50%;
    transform: translate(50%, 50%);
}

.select-avatar-button{
    padding: .35rem .75rem;
    bottom:20%;
    right: 50%;
    background-color: #f7f7f7;
    opacity: .8;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;
}

.dropdown-icon{
    transition: all .4s;
}

.select-avatar-button:hover {
    opacity: 1;
}

.active-submenu{
    transform: rotate(180deg);
}

.select-avatar-container-action-box{
    position: relative;
}


.avatar-gender-submenu{
    position: absolute;
    letter-spacing: .5px;
    top: 150%;
    right: 25%;
    background-color: #fff;
    padding: 1rem 2rem;
    width: 10rem;
    transition: all .5s;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    border-radius: 3px;
}

.avatar-gender-submenu-active{
    opacity: 1;
    display: block;
    transform: scaleY(1);
    opacity: .95;
}

.avatar-gender-option{
    display: block;
    cursor: pointer;
    transition: all .2s; 
}


.avatar-gender-option:hover{
    transform: translateY(-1px);
    color: #194aec;
}

.avatar-gender-option:not(:last-child){
    margin-bottom: .5rem;
}

.user-info-container{
    position: absolute;
    top: 0;
    right: 10%;
}

.bookmark-container-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 8rem 0;
    text-align: center;
    background-color:  rgba(80, 90, 107, .97);
}

.bookmark-list{
    border: 1px solid #333333;
    height: 15rem;
    overflow-y: scroll;
    list-style: none;
    border: none;
}

.bookmark-item{
    padding: .5rem 0 ;
    padding-left: 4rem;
    position: relative;
}

.bookmark-item:nth-child(odd){
    background-color: #e9e9e9;
}
.bookmark-item:nth-child(even){
    background-color: #f7f7f7;
}

.bookmark-title{
    display: inline;
    font-size: 1.3rem;
}

.bookmark-link{
    position: absolute;
    top:50%;
    right: 12%;
    transform: translate(-50%, -50%);
}

.bookmark-copy-icon{
    position: absolute;
    top:50%;
    right: 7%;
    transform: translate(-50%, -50%);
}

.bookmark-icon{
    position: absolute;
    top:50%;
    left: 2%;
    transform: translate(-50%, -50%);
}

.bookmark-delete-icon{
    position: absolute;
    top:50%;
    right: 2%;
    transform: translate(-50%, -50%);
}


 .text-dark{
 
    color: rgba(119, 119, 119, .8);
}

.text-light{
    color: #f7f7f7;
}


.paragraph-text{
    color: rgba(39, 39, 39, 0.8);
    line-height: 1.6;
}


.header-secondary{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: 200;
}

.sub-header{
    letter-spacing: .1rem;
}


.btn-main{
    display: block;
    width: 35%;
    margin: 1rem auto;
    padding: 1rem 2.5rem;
    position: relative;
    font-size: 1.5rem;
    background-color: #194aec;
    color: #f7f7f7;
    
    border: none;
    border-radius: 100px;
    box-shadow: 0 .2rem 1rem rgba(97, 97, 97, .2);

    font-weight: 600;
    transition: all .4s;
    z-index: 2;
}

.btn-main:active, .btn-main:focus{
    outline: none;
    border: none;
}

.btn-main:hover{
    cursor: pointer;
}

.btn-main::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    background-color: #194aec;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .2s;
}

.btn-main:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


.btn-medium{
    width: 30%;
}

.btn-large{
    width: 40%;
}

.btn-disabled{
    background-color: #b4b4b4;
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none; 
}

.input{
    display: block;
    padding: .5rem 0;
    width: 50%;
    border: none;
    border-bottom: 1px solid rgba(58, 58, 58, 0.3);
    outline: none;
    margin: .5rem auto;
    background-color: #fafafa;

    
    color: rgba(58, 58, 58, 0.8);
    
}
.input:focus, .searchbar:focus{
    outline: none;
}

.input-error{
    border: 1px solid red;
}

.searchbar{
    padding: .8rem 1rem;
    width: 60%;
    text-transform: capitalize;
    margin: 2rem 0rem 1rem 0;
    border-radius: 100px;
    border: none;
    box-shadow: 0 .2rem 1rem rgba(49, 49, 49, .1);
    transition: all .2s;
}

.searchbar:focus{
    transform: translateY(-2px);
    box-shadow: 0 .4rem 1.5rem rgba(49, 49, 49, .2);
}
.btn-text{
    cursor: pointer;
    color: #0F7EE4;
}

.margin-bottom-xsmall{
    margin-bottom: .7rem;
}

.margin-bottom-small{
    margin-bottom: 1.3rem;
}
.margin-bottom-medium{
    margin-bottom: 2rem;
}

.margin-top-medium{
    margin-top: 2rem;
}

.margin-top-large{
    margin-top: 4rem;
}

.close-icon-container{
    position: absolute;
    cursor: pointer;
    top: 10%;
    right: 5%;
    transition: all .2s;
}
.close-bookmark-icon {
    transition: all .2s;
}

.close-bookmark-icon:hover {
    transform: rotate(90deg);
}
.save-icon{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
}

.filter-white{
    filter: invert(98%) sepia(2%) saturate(306%) hue-rotate(221deg) brightness(116%) contrast(94%)
}