<div class="loggedin-user-container">
    {{! <div class="user-info-container">
        <p class="username">Vitto</p>
        <img src="assets/male_profile_image.svg" class="profile-image" width="30">
        
    </div> }}

    <div class="bm-container">
        <button class="btn-main btn-blue" id="bookmark-btn">Bookmark It! <span><img class="save-icon" src="assets/icons/16x16.png" alt="save icon" width="16" height="16"></span></button>
        <a class="btn-text" id="sync-btn">Sync Bookmarks</a>
        <p style="display: inline-block"> or </p>
        <a class="btn-text" id="logout-btn">Logout</a>
    </div>
</div>
