<div class="bm-container">
    <button class="btn-main btn-large" id="bookmark-btn">Book Mark It!</button>
    {{^synched}}
        <p>or</p>
        <button class="btn-main btn-large" id="sync-btn">Sync your bookmarks</button>
    {{/synched}}
    <a class="btn-text" id="logout-btn">Logout</a>
</div>
