<div class="loggedin-user-container">
    {{! <div class="user-info-container">
        <p class="username">Vitto</p>
        <img src="assets/male_profile_image.svg" class="profile-image" width="30">
        
    </div> }}

    <div class="bm-container">
        <button class="btn-main" id="bookmark-btn">Book Mark It!</button>
        <a class="btn-text" id="logout-btn">Logout</a>
    </div>
</div>
