<li class="bookmark-item" data-id={{dataId}}>
    <img class="bookmark-icon" width="20" height="20" src="{{icon}}" alt="icon of the bookmarked page">
    <p class="bookmark-title">{{title}}</p>
    <a class="bookmark-link" href="{{url}}" target="_blank">Visit</a>
    <img  class="bookmark-delete-icon" width="15" height="15" src="../assets/001-delete.png" alt="bookmark delete icon">
</li>