
<div class="bookmark-tree">
    {{#data.bookmarks}}
        <div class="bookmark margin-bottom-xsmall">
            <input id="toSync" type="checkbox">
            <a class="btn-text" href="{{url}}" target="blank">{{title}}</a>
        </div>
        
    {{/data.bookmarks}}
</div>