<div class="form-container">
    <div class="login-form__text-box">
        <div class="login-form__user-info-container">
            <div class="profile-container margin-bottom-medium">
                <div class="image-container">                   
                    <img src="assets/male_profile_image.svg" class="login-form-image margin-bottom-small">
                    <div class="select-avatar-container">
                        <div class="select-avatar-container-action-box">
                            <a class="select-avatar-button"><i><img class="dropdown-icon"  src="assets/001-arrow-down-sign-to-navigate.svg" width="10"></i></a>
                            <div class="avatar-gender-submenu">
                                <a class="avatar-gender-option">Female</a>
                                <a class="avatar-gender-option">Male</a>
                                <a class="avatar-gender-option">Other</a>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <h3 class="header-secondary">Welcome {{name}}</h3>
                <p class="sub-header">Insert your user information</p>
            </div>        
        </div>    

        <form id="login-form">
            <div class="input-field">
                <input class="input margin-bottom-small" type="email" id="login-email" placeholder="Email">

                <input class="input margin-bottom-small" type="password" id="login-password" placeholder="Password">
            </div>     
        
            <button class="btn-main btn-blue margin-bottom-small margin-top-medium" type="submit">login</button>
        </form>
        <a class="btn-text margin-bottom-smalll" id="signup-redirect">Signup</a>
    </div>
</div>
