<div class="login-container">
    <form id="login-form">
        <input type="email" id="login-email">
        <label for="login-email">Email address</label>
        <input type="password" id="login-password">
        <label for="login-password">Insert password</label>
        <button type="submit">login</button>
    </form>
    <button class="signup-redirect">signup</button>
</div>
