<div class="form-container">
    <form id="login-form">
        <div class="input-field">
            <input class="input" type="email" id="login-email" placeholder="Email">

            <input class="input" type="password" id="login-password" placeholder="Password">
        </div>     
      
        <button class="btn-main" type="submit">login</button>
    </form>
    <p>or</p>
    <a class="btn-text" id="signup-redirect">Signup</a>
</div>
