<div class="overlay-container">
    <
    <div class="overlay-form-container">
        <div class="margin-bottom-medium">
            <h1 class="text-light">Don't worry!</h1>
            <p class="sub-header text-light">Insert your account email</p>
        </div>
        <form id="password-recovery-form">
            <div class="input-field">
                <input class="input input-white margin-bottom-small" type="email" id="recovery-email" placeholder="email">
            </div>
            <button class="btn-main btn-blue margin-bottom-small margin-top-medium" type="submit">Send recovery email</button>
        </form>
    </div>
        <div class="close-icon-container">
            <img src="assets/001-close.svg" width="20" height="20" id="close-bookmark-button" class="close-bookmark-icon filter-white"></img>
    </div>
