<div class="signup-container">
    <form id="signup-form">
        <input type="email" id="signup-email">
        <label for="signup-email">Email address</label>
        <input type="password" id="signup-password">
        <label for="signup-password">Choose password</label>
        <button type="submit">Sign up</button>
    </form>
</div>
