<div class="form-container">
    <form id="signup-form">
        <input class="input" type="email" id="signup-email" placeholder="Insert your email">
        
        <input class="input" type="password" id="signup-password" placeholder="Choose your password">
        
        <button class="btn-main" type="submit">Sign up</button>
    </form>
    <p>or</p>
    <a class="btn-text" id="signin-redirect">Login</a>
</div>
